<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>女士</string>
		<string>男士</string>
	</array>
	<array>
		<string>全部</string>
		<string>感谢</string>
		<string>新年</string>
		<string>纪念日</string>
		<string>圣诞节</string>
		<string>情人节</string>
		<string>生日</string>
		<string>道歉</string>
		<string>惊喜</string>
		<string>小资</string>
		<string>文艺</string>
		<string>运动</string>
		<string>女王范</string>
		<string>想念</string>
		<string>再见</string>
	</array>
	<array>
		<string>全部</string>
		<string>感谢</string>
		<string>新年</string>
		<string>纪念日</string>
		<string>圣诞节</string>
		<string>情人节</string>
		<string>生日</string>
		<string>道歉</string>
		<string>惊喜</string>
		<string>运动</string>
		<string>休闲</string>
		<string>稳重</string>
		<string>Geek</string>
		<string>想念</string>
		<string>再见</string>
	</array>
	<array>
		<string>全部</string>
		<string>母亲节</string>
		<string>精致</string>
		<string>贴心</string>
		<string>健康</string>
		<string>特别</string>
		<string>妈妈生日</string>
		<string>新年</string>
		<string>我的生日</string>
	</array>
	<array>
		<string>全部</string>
		<string>质感</string>
		<string>贴心</string>
		<string>健康</string>
		<string>特别</string>
		<string>好玩</string>
		<string>生日</string>
		<string>新年</string>
		<string>父亲节</string>
	</array>
	<array>
		<string>全部</string>
		<string>结婚</string>
		<string>乔迁</string>
		<string>感谢</string>
		<string>道歉</string>
		<string>祝贺</string>
		<string>生子</string>
		<string>女王范</string>
		<string>文艺</string>
		<string>小资</string>
		<string>运动</string>
		<string>二次元</string>
		<string>生日</string>
	</array>
	<array>
		<string>全部</string>
		<string>二次元</string>
		<string>运动</string>
		<string>生日</string>
		<string>结婚</string>
		<string>乔迁</string>
		<string>感谢</string>
		<string>道歉</string>
		<string>祝贺</string>
		<string>生子</string>
		<string>Geek</string>
		<string>稳重</string>
		<string>休闲</string>
	</array>
	<array>
		<string>女士</string>
		<string>男士</string>
	</array>
	<array>
		<string>女士</string>
		<string>男士</string>
	</array>
	<array>
		<string>全部</string>
		<string>生日</string>
		<string>圣诞节</string>
		<string>小男孩</string>
		<string>小女孩</string>
		<string>小Baby</string>
		<string>成长快乐</string>
	</array>
	<array>
		<string>全部</string>
		<string>新年</string>
		<string>感谢</string>
		<string>乔迁</string>
		<string>祝贺</string>
	</array>
	<array>
		<string>全部</string>
		<string>乔迁</string>
		<string>感谢</string>
		<string>新年</string>
		<string>商务</string>
		<string>祝贺</string>
	</array>
</array>
</plist>
