<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>全部</string>
		<string>运动</string>
		<string>复古</string>
		<string>女王范</string>
		<string>文艺</string>
		<string>女汉子</string>
		<string>腐女</string>
		<string>潮</string>
		<string>小清新</string>
		<string>休闲</string>
		<string>小资</string>
		<string>二次元</string>
		<string>吃货</string>
		<string>欧美</string>
	</array>
	<array>
		<string>全部</string>
		<string>潮</string>
		<string>运动</string>
		<string>文艺</string>
		<string>逼格</string>
		<string>英伦</string>
		<string>稳重</string>
		<string>成熟</string>
		<string>吃货</string>
		<string>Geek</string>
		<string>休闲</string>
		<string>二次元</string>
	</array>
	<array>
		<string>全部</string>
		<string>道歉</string>
		<string>感谢</string>
		<string>乔迁</string>
		<string>结婚</string>
		<string>生日</string>
		<string>祝贺</string>
		<string>生子</string>
		<string>女王范</string>
		<string>文艺</string>
		<string>小资</string>
		<string>运动</string>
		<string>二次元</string>
	</array>
	<array>
		<string>全部</string>
		<string>道歉</string>
		<string>感谢</string>
		<string>乔迁</string>
		<string>结婚</string>
		<string>生日</string>
		<string>祝贺</string>
		<string>生子</string>
		<string>二次元</string>
		<string>运动</string>
		<string>休闲</string>
		<string>稳重</string>
		<string>Geek</string>
	</array>
	<array>
		<string>全部</string>
		<string>生日</string>
		<string>结婚</string>
		<string>乔迁</string>
		<string>感谢</string>
		<string>道歉</string>
		<string>祝贺</string>
		<string>生子</string>
		<string>女王范</string>
		<string>文艺</string>
		<string>小资</string>
		<string>运动</string>
		<string>二次元</string>
	</array>
	<array>
		<string>全部</string>
		<string>感谢</string>
		<string>乔迁</string>
		<string>结婚</string>
		<string>生日</string>
		<string>祝贺</string>
		<string>生子</string>
		<string>Geek</string>
		<string>稳重</string>
		<string>休闲</string>
		<string>运动</string>
		<string>二次元</string>
		<string>道歉</string>
	</array>
</array>
</plist>
